<html>
  <head>
    <title>Valencia Catalogue</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"
    />
  </head>
  <body>
    <div id="header">
      <img src="{{ url_for('static', filename='img/valenciaShield.png') }}"/>        <ul>
        <ul>
          <li><a href="city">City</a></li>
          <li><a href="coast">Coast</a></li>
          <li><a href="leisure">Leisure</a></li>
          <li><a href="Sports">Sports</a></li>
        </ul>
    </div>
    <div id="container">
      <div id="imgCentre">
      <h1>Welcome to Valencia Catalogue</h1>
      <img src="{{ url_for('static', filename='img/valenciaShield.png') }}"/>
      </div>
      <br/>
      <div id="menuCentre">
        <ul>
          <li><a href="city">City</a></li>
          <li><a href="coast">Coast</a></li>
          <li><a href="leisure">Leisure</a></li>
          <li><a href="Sports">Sports</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
