<html>
  <head>
    <title>Valencia Catalogue</title>
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet"
    />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
    />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"
    />
  </head>
  <body>
    <div id="header">
      <a href="/"><img src="{{ url_for('static',
      filename='img/valenciaShield.png') }}"/></a>
      <ul>
        <li><a href="city">City</a></li>
        <li><a href="nature">Nature</a></li>
        <li><a href="leisure">Leisure</a></li>
        <li><a href="sports">Sports</a></li>
      </ul>
    </div>
    <div id="container">
    <h1> {{ topic }} Catalogue</h1>
    {% for picture,description in pictures_descriptions %}
    <div class="imgContainer">
      <img class="picture" src="static/img/{{ picture }}.jpg"/>
      <br />
      {{ description }}
    </div>
    {% endfor %}  
    </div>
  </body>
</html>
